<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Flickity -->
<script src="/vendor/flickity/flickity.pkgd.min.js"></script>
<script src="/vendor/flickity-fullscreen/fullscreen.js"></script>

<!-- Parallax -->
<script src="/vendor/basicscroll/basicScroll.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/assets/js/tess-dbm.js"></script>